@{
    ViewBag.Title = "Sobre o Sistema Generico de Aprimoramento Constante";
}
<h2>@ViewBag.Title</h2>

<h3>@ViewBag.Sobre</h3>

<p>
     Aqui eu falo um pouco sobre o sistema, funcionalidades, capacidade, diferenciais, etc... 
</p>
