<div class="jumbotron">
    <h1>Sistema Generico de Bares e Restaurantes</h1>
    <p class="lead">KaVik</p>
    <p><a href="https://github.com/kauevictorio" class="btn btn-primary btn-lg">Mais Projetos</a></p>
</div>