@{
    ViewBag.Title = "Contatos";
}


<address>
    <h1>Contatos</h1>
    <a href="https://github.com/kauevictorio">GitHub KaVik</a><br />
    <a href="https://www.linkedin.com/in/kau%C3%AA-vict%C3%B3rio-15672a105/">Linkedin Kaue Victório</a><br />
    <p>Email: Kaue.o.victorio@outlook.com</p>
  
</address>

