@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
    <p>
        Programa Desenvolvido com os conhecimentos adquiridos durantes as aulas da Academia UFN/Atos de .Net, feito em ASP.Net com MVC e SQL Server, Usando a Entity Framework.
        
    </p>
    <p>O intuito final do Programa é ser um serviço de comandas e pedidos para restaurante, que será implementado aos poucos como forma de estudo.</p>
    </div>

    </p>

        
            


        
   