@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
    <p>
        Programa Desenvolvido com os conhecimentos adquiridos durantes as aulas da Academia UFN/Atos de DOT.Net, feito em ASP.Net com MVC e SQL Server, Usando a Entity Framework.
        
    </p>
    <p>O intuito Inicial do Programa era ser um serviço de comandas e pedidos para restaurante, mas devido a problemas de agenda, não consegui implementar a funçao comanda no projeto por enquanto.</p>
    </div>

    </p>

        
            


        
   